{{!-- li {
font-size: 2rem;
width: 300px;
margin: 4px;
padding: 4px;
list-style: none
}.midlaner {background-color: #eeeeee}.toplaner {background-color: #ffea00} --}}

<h2>Liste of my most loved League champions</h2>
<ul>
  <li class="midlaner">Leblanc</li>
  <li class="midlaner">Lux</li>
  <li class="toplaner">Teemo</li>
  <li class="midlaner">Kassadin</li>
  <li class="toplaner">Jarvan IV</li>
</ul>