<h1> Youtube Dataset Analysis </h1>
<div>
    <form action="/search" method="POST">
        <input type="text" name="YTSearchBar" placeholder="Search Youtube Dataset">
        <input type="submit" name="searchDS" value="Search" />
    </form>
</div>
<h2> Title / Trending Date </h2>
<div class="searchResults"> {{{ searchResultsClient }}} </div>