:root {
    --main-text: #black;
    --nav-selected: darkgrey;
}

.nav-item:hover {
    background-color: lightgrey;
    /* box-shadow: 1px 1px 1px #000000; */
}

.belowNav {
    margin-top: 0.5%;
    margin-left: 1%;
}

.redBtn {
    border: 2px solid red;
    color: red;
    padding: 1px 6px;
    background-color: white;
}

#searchBar {
    width: 50%;
}

.loadingIndicator {
    width: fit-content;
    padding: 3px;
    margin: 10px 0px;

    display: none;
}

.searchResults {
    width: 60%;
    height: 500px;
    overflow-y: auto;
}

.video {
    display: flex;

    border: 2px solid black;
    box-shadow: 1px 1px 1px #000000;
    margin: 5px;
}

.videoContent {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.videoTitle {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
}

.videoInfo {
    margin-bottom: 0px;
}

.editBtn {
    width: fit-content;
    margin-top: 2px;
}

.deleteBtn {
    width: fit-content;
    margin-left: 10px;
    margin-top: 2px;
}

.prevBtn {
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
}

.right {
    float: right;
    margin-right:20px;
}